<h1>Shopping Cart!</h1>
<p>Hello, {{purchase.employee.name}}! What are you purchasing for {{purchase.dept.name}}, today?</p>

<form action="{% url 'polls:cart2_save' purchase.pk %}" method="post">
    {% csrf_token %}
    <h2>To Add</h2>
    {{ formset_1.management_form }}
    <table>
        {% for form in formset_1 %}
        <input type="text" name="barcode" placeholder="Search By Barcode">
        <input type ="submit" name="search_barcode">
        {{ form }}
        <input type="submit" name="add_item" value="Add Item">
        {% endfor %}
    </table>
    <h2>Current Cart</h2>
    {{ formset_2.management_form }}
    <table>
        {% for form in formset_2 %}
        {{ form }}
        <input type="submit" name="delete" value="Delete Item {{ forloop.counter }}">
        {% endfor %}
    </table>
    <input type="submit" name="checkout" value="Checkout">
</form>